---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2
AlignConsecutiveMacros: true
UseTab: Never
